*~
/Notes/jet-metastability.aux
/Notes/jet-metastability.bbl
/Notes/jet-metastability.blg
/Notes/jet-metastability.log
/Notes/jet-metastability.out
/Notes/jet-metastability.pdf
/Notes/energy-balance.aux
/Notes/energy-balance.log
/Notes/energy-balance.out
/Notes/energy-balance.pdf
/Notes/gamma-lyapunov.aux
/Notes/gamma-lyapunov.bbl
/Notes/gamma-lyapunov.blg
/Notes/gamma-lyapunov.log
/Notes/gamma-lyapunov.out
/Notes/gamma-lyapunov.pdf
